* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.containerNav {
  display: flex;
  height: 100vh;
  background-color: #1e2124;
}
.navbar {
  width: 20%;
  text-align: center;
  list-style: none;
}
.navbar li {
  margin-top: 80px;
}
.navbar li a {
  text-decoration: none;
  color: rgb(104, 104, 104);
  font-size: 40px;
  transition: all 0.4s ease;
  align-items: center;
}
.navbar li a:hover {
  color: white;
  font-size: 45px;
}
.navbar li a span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.profil {
  display: flex;
  border-left: 10px solid #ffc107;
  width: 80%;
  background-color: #f8f9fa;
}
.profil .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  padding-left: 50px;
}
.profil .info h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #343a40;
  font-weight: 100;
  letter-spacing: 1.2px;
}

.profil .info h1 span {
  font-size: 60px;
  font-weight: bold;
  color: #ffc107;
}
.profil .info ul {
  color: #343a40;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
}
.profil .info ul li {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 10px;
  letter-spacing: 1.2px;
}
.profil .info ul li a {
  color: #343a40;
}

.profil .info button {
  font-size: 40px;
  padding: 15px;
  background-color: #343a40;
  border: none;
  color: #f8f9fa;
  border-radius: 15px;
  font-weight: lighter;
  letter-spacing: 1.3px;
  animation-name: button;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.profil .info button:hover {
  background-color: #42484e;
}
.profil .info .image {
  width: 250px;
  border-radius: 50%;
  margin: 0px auto;
  box-shadow: 2px 4px 20px rgb(163, 161, 161);
}
@keyframes button {
  50% {
    transform: translateY(-7px);
  }
}
